atproto
transformers
torch
onnx
ezkl
numpy
tqdm
matplotlib
flask
spacy
plotly
chart_js
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
